<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Rolling File Appender -->
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<!-- Specify a file name, not just a directory -->
		<file value="/home/demo/logs/demo.log" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<!-- Date pattern to roll the log file daily -->
		<datePattern value="'.'yyyyMMdd'.log'" />
		<staticLogFileName value="false" />
		<!-- Optional: maximum file size and backup settings -->
		<maximumFileSize value="100KB" />
		<maxSizeRollBackups value="2" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline%exception" />
		</layout>
	</appender>

	<!-- Standard Console Appender -->
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline%exception" />
		</layout>
	</appender>

	<!-- Managed Colored Console Appender -->
	<appender name="ColoredConsole" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="White" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<foreColor value="Green" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline%exception" />
		</layout>
	</appender>

	<!-- Trace Appender -->
	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger.%method [%line] - MESSAGE: %message%newline%exception" />
		</layout>
	</appender>

	<!-- Root Logger -->
	<root>
		<level value="INFO" />
		<!-- Add all desired appenders -->
		<appender-ref ref="RollingFile" />
		<appender-ref ref="Console" />
		<appender-ref ref="ColoredConsole" />
		<appender-ref ref="TraceAppender" />
	</root>
</log4net>
